body {
  font-family: 'News Time Roman', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  color: #444;
  margin: 20px 0;
  font-size: 2.5rem;
}